/*Common */
.Top-right-Menu {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    margin-bottom: 6px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}


@media screen and (min-width: 1000px) {
    .dvTableTopRowCellRight, .dvTableTopRowCellLeft {
        width: 3.5%;
    }

    .dvTableTopRowCellMiddle {
        width: 93%;
    }
}

@media screen and (max-width: 420px) {
    .ui.dropdown .menu {
        min-width: 100% !important;
        position: fixed;
        top: 90px;
    }

    
    .pull-right, .pull-left {
        top: 40px !important;
    }
}

@media screen and (min-width: 420px) {
    .pull-right {
        left: inherit !important;
        right: 0px !important;
    }

    .pull-right, .pull-left {
        top: 40px !important;
        min-width: 260px !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .dvTableTopRowCellRight, .dvTableTopRowCellLeft {
        width: 5%;
    }

    .dvTableTopRowCellMiddle {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .dvTableTopRowCellRight, .dvTableTopRowCellLeft {
        width: 10%;
    }

    .dvTableTopRowCellMiddle {
        width: 80%;
    }
}

.Top-right-Menu:focus {
    outline: none;
}

.Top-right-Menu span {
    display: block;
    position: absolute;
    top: 20px;
    left: initial;
    right: 10px;
    height: 3px;
    background: black;
    border-radius: 5px;
    width: 72%;
}

    .Top-right-Menu span::before,
    .Top-right-Menu span::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: black;
        content: "";
        border-radius: 5px;
    }

    .Top-right-Menu span::before {
        top: -10px;
    }

    .Top-right-Menu span::after {
        bottom: -10px;
    }



/**
 * Style 3
 *
 * Hamburger to left-arrow (htla). Hamburger menu transforms to a left-pointing
 * arrow. Usually indicates an off canvas menu sliding in from left that
 * will be close on re-click of the icon.
 */
.Top-right-Menu--htla {
    background-color: white;
}

    .Top-right-Menu--htla span {
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

        .Top-right-Menu--htla span::before {
            -webkit-transform-origin: top right;
            -ms-transform-origin: top right;
            transform-origin: top right;
            -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
            transition: transform 0.3s, width 0.3s, top 0.3s;
        }

        .Top-right-Menu--htla span::after {
            -webkit-transform-origin: bottom right;
            -ms-transform-origin: bottom right;
            transform-origin: bottom right;
            -webkit-transition: -webkit-transform 0.3s, width 0.3s, bottom 0.3s;
            transition: transform 0.3s, width 0.3s, bottom 0.3s;
        }

/* active state, i.e. menu open */


.active .Top-right-Menu--htla span {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

    .active .Top-right-Menu--htla span::before,
    .active .Top-right-Menu--htla span::after {
        width: 50%;
    }

    .active .Top-right-Menu--htla span::before {
        top: 0;
        -webkit-transform: translateX(102%) translateY(1px) rotate(45deg);
        -ms-transform: translateX(102%) translateY(1px) rotate(45deg);
        transform: translateX(102%) translateY(1px) rotate(45deg);
    }

    .active .Top-right-Menu--htla span::after {
        bottom: 0;
        -webkit-transform: translateX(102%) translateY(-1px) rotate(-45deg);
        -ms-transform: translateX(102%) translateY(-1px) rotate(-45deg);
        transform: translateX(102%) translateY(-1px) rotate(-45deg);
    }
