/* SVG FIXES */
.Top-Left-Menu svg {
    width: 25px;
    height: 25px;
}

    .Top-Left-Menu svg path {
        fill: black !important;
    }


.dvTableTopRow {
    display: table-row;
}

.dvTableTopRowCellLeft {
    display: table-cell;
    vertical-align: top;
    padding-top: 10px;
    padding-left: 10px;
}

.dvTableTop {
    margin-bottom: -15px;
    display: table;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
}

.dvTableTopRowCellMiddle {
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

.dvTableTopRowCellRight {
    display: table-cell;
    text-align: right;
    vertical-align: top;
    position: relative;
}

    .dvTableTopRowCellRight .dropdown, .dvTableTopRowCellRight .text, .dvTableTopRowCellRight button {
        width: 40px;
    }
