

/* SVG FIXES */

.svg svg {
    width: 25px;
    height: 25px;
}

    .svg svg path {
        fill: white !important;
    }

.svg2 svg {
    width: 24px;
    height: 24px;
}

    .svg2 svg path {
        fill: gray !important;
    }

.svg2 {
    color: gray !important;
}

.grayline {
    width: 94%;
    height: 1px;
    margin: auto;
    background: gray;
}

.blackline {
    height: 2px;
    background: black;
}

.Toolbar-1 {
    background-color: black;
    display: table;
    width: 100%;
    margin-top: 10px;
}

    .Toolbar-1 ul {
        padding: 0px;
    }

        .Toolbar-1 ul li a img {
            width: 24px;
        }

.Toolbar-1Inner {
    width: 420px;
    display: table;
    margin: auto;
}

.Toolbar-1Cell {
    width: 25%;
    display: table-cell;
    margin: auto;
    text-align: center;
    padding: 12px;
}

.Toolbar-1Row {
    display: table-row;
}


/* Media Query */
@media screen and (min-width: 420px) {

    .Toolbar-1 .ui.dropdown .menu {
        top: 37px;
        left: -16px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .Toolbar-1Inner {
        width: 420px;
        display: table;
        margin: auto;
    }

    .Toolbar-1Cell {
        width: 25%;
    }
}


@media screen and (max-width: 420px) {

    .Toolbar-1Inner {
        width: 100%;
        display: table;
        margin: auto;
    }

    .dvTableTop .ui.dropdown .menu > .item {
        padding-left: 14px !important;
    }

    .Toolbar-1 .ui.dropdown .menu > .item {
        padding-left: 27px !important;
    }
}
